.cabecera {
  background-color: #012863;
  padding-bottom: 10px;
  }


  .navbar { background-color: #B89F57;text-align: center;}
  .navbar .navbar-nav>.active>a:hover,.navbar .navbar-nav>li>a:hover, .navbar .navbar-nav>li>a:focus { background-color: #525252}
  .navbar .navbar-nav>.active>a,.navbar .navbar-nav>.open>a,.navbar .navbar-nav>.open>a, .navbar .navbar-nav>.open>a:hover,.navbar .navbar-nav>.open>a, .navbar .navbar-nav>.open>a:hover, .navbar .navbar-nav>.open>a:focus { background-color: #080808}
  .navbar { border-color: #080808}

  .navbar .navbar-nav>li>a { color: #000000}
  .navbar .navbar-nav>li>{ width: 180px;}
  .navbar .navbar-nav>li>a:hover, .navbar .navbar-nav>li>a:focus { color: #FFFFFF}
  .navbar .navbar-nav>.active>a,.navbar .navbar-nav>.open>a, .navbar .navbar-nav>.open>a:hover, .navbar .navbar-nav>.open>a:focus { color: #FFFFFF}
  .navbar .navbar-nav>.active>a:hover, .navbar .navbar-nav>.active>a:focus { color: #FFFFFF}


.navbar li {
  width: 185px;

}

.menu{
  background-color: #b89f57;
  text-align: center;
}


.cabecera-der{
    float: none;
    display: table-cell;
    vertical-align: bottom;
    padding-top: 10px;
}


.icono-img {
  width: 30px;
  padding: 2px;
  float: right;
}

.imgder {
  width: 30%;
  padding: 2px;
  float: right;
  vertical-align:text-top;
}

.icohuman {
  width: 30px;
  }
.centra{
  text-align: center;
}

@media (max-width: 770px) {
  .icono-img{
    float: right;
  }

.cabecera {
  text-align: center;
  display: block;
}

.cabecera-izq{
    padding-top: 10px;
    text-align: center;
}

.right-column {
  display: none;
}

.imgder {
  width: 100%;
  padding: 2px;

}
.navbar li {
  width: 100%;
}


}
