.html, .body {
height: 100%;
}

  .navbar { background-color: #B89F57;text-align: center;}
  .navbar .navbar-nav>.active>a:hover,.navbar .navbar-nav>li>a:hover, .navbar .navbar-nav>li>a:focus { background-color: #525252}
  .navbar .navbar-nav>.active>a,.navbar .navbar-nav>.open>a,.navbar .navbar-nav>.open>a, .navbar .navbar-nav>.open>a:hover,.navbar .navbar-nav>.open>a, .navbar .navbar-nav>.open>a:hover, .navbar .navbar-nav>.open>a:focus { background-color: #080808}
  .navbar { border-color: #080808}

  .navbar .navbar-nav>li>a { color: #000000}
  .navbar .navbar-nav>li>{ width: 180px;}
  .navbar .navbar-nav>li>a:hover, .navbar .navbar-nav>li>a:focus { color: #FFFFFF}
  .navbar .navbar-nav>.active>a,.navbar .navbar-nav>.open>a, .navbar .navbar-nav>.open>a:hover, .navbar .navbar-nav>.open>a:focus { color: #FFFFFF}
  .navbar .navbar-nav>.active>a:hover, .navbar .navbar-nav>.active>a:focus { color: #FFFFFF}


.navbar li {
  width: 188px;
  text-align: center;

}

.cabecera {
  background-color: #012863;
  padding: 10px;
}

#contenedor {
  display: table;
  width: 100%;
  height: 100%
}

#cabecera-der{
    display: table-cell;
    vertical-align: bottom;
}

.icono-img {
  width: 30px;
  padding: 2px;
  float: right;
}

.imgder {
  float: right;
  width: 30%;
  padding: 2px;
  vertical-align: text-top;
  }

.imgizq {
    float: left;
    width: 30%;
    padding: 2px;
    vertical-align: text-top;
    }

.icohuman {
  width: 30px;
  float: left;
}
.busqueda{
 width: 98%;
 margin: 5px
}



@media (min-width:1021px) and (max-width:1440px) {
  .navbar li {
    width: 150px;
  }
}


@media (min-width:601px) and (max-width:1020px) {
  .navbar li {
    width: 110px;
  }
}


@media (max-width: 601px) {

.icono-img{
    float: right;

  }

.cabecera {
  text-align: center;
}

.cabecera-der{
    text-align: center;
    padding-top: 10px;

}

.right-column {
  display: none;
}

.imgder {
  width: 100%;
  padding: 2px;
}

.imgizq {
  width: 100%;
  padding: 2px;}

.navbar li {
  width: 100%;
}


}
