.cabecera {
  background-color: #012863;
  padding-bottom: 10px;
  display: table;
  width: 100%;
    }

.menu{
  background-color: #b89f57;
  width: 100%;
  text-align: center;
}

.fila{
  width: 100%;
}

.cabecera-der{
    float: none;
    display: table-cell;
    vertical-align: bottom;
    padding-top: 10px;
}


.icono-img {
  width: 30px;
  padding: 2px;
  float: right;
}

.imgder {
  width: 30%;
  padding: 2px;
  float: right;
  vertical-align:text-top;
}

.icohuman {
  width: 30px;
  }
.centra{
  text-align: center;
}

@media (max-width: 770px) {
  .icono-img{
    float: right;
  }

.cabecera {
  text-align: center;
  display: block;
}

.cabecera-izq{
    padding-top: 10px;
    text-align: center;
}

.right-column {
  display: none;
}

.imgder {
  width: 100%;
  padding: 2px;

}


}
