.fondo {
  background-color: #132f33;
}

.img-fondo {
  width: 100%;
}

.slogan {
  color: #dbcc9a;
  text-align: right;
  font-family: cursive;

}

.subtitulo{
  color: #dbcc9a;
  font-family: cursive;
  font-weight: bold;
  font-size: 12px;
}

.textblog {
  font-family: cursive;
  text-align: justify;
}


.blog {
  margin:10px;
  padding: 10px;
}

.menulateral{
  list-style: none;
  margin-left: auto;
}

.menulateral a {
  color: #132f33 ;
}
