.body-fondo {
  background: url("../img/fondoRutasPeru.jpg") no-repeat fixed;
  background-size: cover;
}

.imglogo {
  width: 100%;
}

.imglogosmall {
  width: 200%;
}

.textslogan {
  color: white;
  font-style: italic;
  font-weight: bold;
}

.textblog {
  font-family: cursive;
  text-align: justify;
}

.tituloCard {
   text-decoration: underline;
}

.barra-superior {
  margin: 5px;
  padding: 5px;
}

.columna {
  padding: 0 !important;
}

.contenedor{
  margin-top: 1rem;
  padding: 0.5rem;
}

.contenedor-publicacion{
  min-height: 17rem;
}

.barra-superior-der {
  margin-top: 10px;
}

.centrado {
  text-align: center;
}

.imgBlog {
  width: 30%;
  float: left;
  padding: 5px;

}

@media (max-width: 600px) {
  .imgBlog {
    width: 100%;
    float: left;
    padding: 5px;

  }
}
